<div class="edit">
	<h1>Editing gist</h1></br>

<%= render 'form' %>


<a href='<%= @gist %>'><button type="button" class="btn btn-sm btn-success" style:"float: left;  margin-right: 10px" >Show</button>
<a href='<%= gists_path %>'><button type="button" class="btn btn-sm btn-success" style:"float: left;  margin-right: 10px" >Back</button>
</div>