<div class="header">
  <div class="hws">
    <h1>Hello World Snippets</h1>
  </div>
  <div class="buttons">
    <%= link_to 'New Gist', new_gist_path %>
  </div>
  <div class="search">
    <form class="navbar-form navbar-left pull-right" role="search" action="/gists/search">
          <div class="form-group">
            <%= select_tag(:lang, options_for_select(Pygments.lexers.keys.sort.map! {|l| l.downcase.strip},
             params[:lang]))%>
           </div>
           <button type="submit" class="btn btn-default">Search</button>
    </form>
  </div>
</div>

  <table id="gists">
    <thead>
      <tr>
        <th class="snippeth">Snippet</th>
        <th class="langh">Lang</th>
        <th class="descriptionh">Description</th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody id="my-gists">
      <% #@gists.each do |gist| %>

      <% #end %>
    
      <%= render @gists %>
    </tbody>
  </table>

  <div id="infinite-scrolling">
  <%= will_paginate @gists %>
  </div>

<div class="footer">
  <div class="tc">
    Site by Tymoteusz Cywiński
  </div>
</div>